.taskColumn {
	float: left;
	width: 30%;
}
.taskTitle {
	font-weight: bold;
}
.taskDiv > ul:first-child {
	list-style: none;
	margin: 0px;
	padding: 4px;
	min-height: 100px;
}
.taskDiv > ul > li {
	font-size: 90%;
	display: block;
	padding: 0.4em 0 0.4em 0.5em;
	text-decoration: none;
}
.taskDiv ul {
	list-style: none;
	margin: 0px;
	padding: 4px;
}
.taskDiv li {
	font-size: 90%;
	display: block;
	padding: 0.4em 0 0.4em 0.5em;
	text-decoration: none;
}
#notStartedTasksDiv > ul > li {
	border-left: 12px solid #71af0e;
	border-right: 3px solid #71af0e;
	background-color: #e9f9d0;
	border-bottom: 1px solid #71af0e;
}
#notStartedTasksDiv > ul > li:hover {
	background-color: #71af0e;
	color: white;
}
#inProgressTasksDiv > ul > li {
	border-left: 12px solid #efb600;
	border-right: 3px solid #efb600;
	background-color: #f1efae;
	border-bottom: 1px solid #efb600;
}
#inProgressTasksDiv > ul > li:hover {
	background-color: #efb600;
	color: white;
}
#completedTasksDiv > ul > li {
	border-left: 12px solid #ef0b00;
	border-right: 3px solid #ef0b00;
	background-color: #f3c8c6;
	border-bottom: 1px solid #ef0b00;
}
#completedTasksDiv > ul > li:hover {
	background-color: #ef0b00;
	color: white;
}
.hiddenTemplate {
	display: none;
}
.taskDetailDiv {
	display: none;
}
.moveButtonsDiv {
	display: inline-block;
	width: 100%;
}
.moveButton {
	cursor: pointer;
}
.moveLeftButton {
	float: left;
}
.moveRightButton {
	float: right;
}
.deleteDiv {
	float: right;
}
.delete {
	background: red;
	color: white;
	font-weight: bolder;
	padding: 3px;
	margin: 5px 5px 0px 5px;
	border: white solid thin;
	border-top: 0px;
	cursor: pointer;
}
.deleteButton:hover {
	font-size: 1.3em;
}
.yesDeleteButton {
	background: darkgreen;
}
.yesDeleteButton:hover {
	background: greenyellow;
}
.noDeleteButton {
	background: darkred;
} 
.noDeleteButton:hover {
	background: palevioletred;
} 
#newTaskDiv {
	padding: 5px;
}
#newTaskTitle {
	width: 425px;
}
.newTask {
	
}
#addTaskButton {
	cursor: pointer;
	display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
	color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}
#addTaskButton:hover {
	cursor: pointer;
}
.edit {
	width: 90%;
	padding: 5px;
	background-color: white;
	font: inherit;
	border: 0;
}
.editTaskDescription {
	height: 120px;
	overflow: hidden;
}
.editButton {
	font-weight: bolder;
	padding: 5px;
	border: white solid thin;
	cursor: pointer;
	color: white;
}
.editTaskSaveButton {
	background: darkgreen;
}
.editTaskSaveButton:hover {
	background: greenyellow;
}
.editTaskCancelButton {
	background: darkred;
}
.editTaskCancelButton:hover {
	background: palevioletred;
}
#filtersDiv > button {
	display: inline-block;
    padding: 6px 12px;
    margin-bottom: 8px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
	color: #333;
    background-color: #fff;
    border-color: #ccc;
	width: 110px;
	margin-left: 
}

#filtersDiv > button:hover{
	color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
}

#filtersDiv > button.active{
	color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}
#filtersDivValues > div{
	margin-left: 15px;
	margin-bottom: 16px;
	margin-top: 5px;
	width: 300px;
}
#ProjectNameFilter{
	height: 25px;
}
.ms-webpartPage-root {
	border-spacing: 0px;
}